.section{
  width: 800px !important;
  margin: auto;
  position: relative;
} 

.slide{
  position: relative;
}

#editor { 
  margin: 20px;
  margin-top: 0px;
  border: 2px solid #d0d0d0;      
  width: 550px;
  height: 350px;
  display: inline-block;
}

.display {
  position: absolute;
  /*background-color: #FFF;*/
  z-index: 99999;
}

.canvas {
  /*border: 1px solid #000000;*/
}

.controls {
  margin-left: 20px;
}

#reference {
  display: inline-block;
  padding: 6px;
  border: 1px solid #CCC;
  margin-left: 575px;
  height: 340px;
  width: 130px;
  font-family: "Monaco","Menlo","Ubuntu Mono","Droid Sans Mono","Consolas",monospace;
  font-size: 14px;
}

#menu li {
  display:inline-block;
  margin: 10px;
  color: #000;
  background:#fff;
  background: rgba(255,255,255, 0.5);
  -webkit-border-radius: 10px;
      border-radius: 10px;
}
#menu li.active{
  background:#666;
  background: rgba(0,0,0, 0.5);
  color: #fff;
}
#menu li a{
  text-decoration:none;
  color: #000;
}
#menu li.active a:hover{
  color: #000;
}
#menu li:hover{
  background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
  padding: 9px 18px;
  display:block;
}
#menu li.active a{
  color: #fff;
}
#menu{
  position:fixed;
  top:0;
  left:0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin:0;
}