@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Gravitas+One);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/******************** RESET ********************/

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
  margin: 0; padding: 0; border: 0;
}

/******************** GENERAL ********************/

body {
  background-color: #E4E4E4;
  color: #303030;
  font-family: 'Open Sans', sans-serif;
}

#welcome_text {
  position: absolute;
  width: 400px;
  height: 120px;
  top:50%;
  left:50%;
  margin:-60px 0 0 -200px;
  z-index: 9999;
  text-align: center;
}

#welcome_animation {
  position: absolute;
  width: 900px;
  height: 700px;
  top:50%;
  left:50%;
  margin:-350px 0 0 -450px;
}

.arrow {
  position: absolute;
  width: 400px;
  top:85%;
  left:50%;
  margin-left: -200px;
  text-align: center;
  display: none;
}

/******************** TYPOGRAPHY ********************/

h1 {
  padding-top: 18px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: 'Gravitas One';
}

h2 {
  padding: 6px;
  font-family: 'Oswald', sans-serif;
}

p {
  padding: 6px;
}

p:last-of-type {
  padding-bottom: 12px;
}

/******************** FULLPAGE.JS ********************/

.section{
  width: 1000px !important;
  margin: auto;
  position: relative;
}

.section h1, h2{
  text-align: center;
}

.slide{
  position: relative;
}

/******************** EDITOR AND CANVAS ********************/

.editor-wrapper {
  width:680px; 
  margin: auto;
}

#editor { 
  margin: 0px;
  border: 2px solid #d0d0d0;      
  width: 550px;
  height: 300px;
  display: inline-block;
}

.display {
  position: absolute;
  /*background-color: #FFF;*/
  z-index: 99;
}

.canvas {
  border: 1px solid #000000;
}

.noborder {
  border: none;
}

.controls {
  margin: 0px;
}

#reference {
  background-color: #FFF;
  display: inline-block;
  padding: 6px;
  border: 1px solid #CCC;
  margin-left: 553px;
  height: 290px;
  width: 130px;
  font-family: "Monaco","Menlo","Ubuntu Mono","Droid Sans Mono","Consolas",monospace;
  font-size: 14px;
}

/******************** MENU ********************/

nav {
  position: fixed;
  text-align: center;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  background: #333333;
  height: 50px;
  z-index: 99;
} 

#logo {
  float: left;
  margin-left: 100px;
}

#logo a {
  display: block;
  margin: auto;
  line-height: 50px;
}

#logo a img {
  height: 20px;
  vertical-align: middle;
  padding-bottom: 9px;
}

#navmenu {
  float: right;
}

nav ul {
  list-style: none;
  margin-right: 100px;
}

nav ul:after {
  content: ""; clear: both; display: block;
}

nav ul li {
  float: left;
}

nav ul li:hover > ul {
  display: block;
}

nav ul li.active {
  background: #4E4E4E;
}

nav ul li:hover a {
  color: #ffffff;
}

nav ul li a {
  display: block; 
  padding: 15px;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #CCC;
  font-weight: 700;
  text-transform: uppercase;
}

nav ul ul {
  display: none;
}

nav ul ul {
  border-radius: 0px; 
  padding: 0;
  position: absolute; 
  top: 100%;
}
nav ul ul li {
  float: none; 
  border-top: 1px solid #6b727c;
  border-bottom: 1px solid #575f6a; position: relative;
}
nav ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 6px 10px;
  width: 170px;
  font-size: 12px;
  text-decoration: none;
  font-weight: 300;
  background: #333333;
} 

nav ul ul li a:hover {
  background: #4E4E4E;
}